@{
    ViewBag.Title = "Bienvenido";
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1 {
            text-align: center;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 60px;
        }
        .claseP {
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            font-size: 40px;
        }
        .background {
            background-image: url(./fondo.jpg);
        }

    </style>
</head>
<body  class="background">
    <h1>¡Bienvenido!</h1>
    <div class="claseP">
        <p>
            La Calculadora De Formas Geométricas de Quality funciona de una forma muy sencilla.
            <br>
            Simplemente ingrese las medidas de la forma cuyos datos desea saber.

        </p>
        <a href="~/Home/FormasGeometricas"><img src="comenzar.png" style="float:left" /></a>
    </div>

</body>
</html>
